[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "AlchemySchoo/lib/forge-std"]
	path = AlchemySchoo/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Alchemy_School/lib/forge-std"]
	path = Alchemy_School/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
